/* Reset Styles */
* {
    margin: 0;
    padding: 0;
}


/* Container */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Headers */
.headline,
h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

.headline {
    border-radius: 10px;
    background-color: black;
    padding: 20px;
    margin-bottom: 2rem;
}

/* Paragraphs */
p {
    font-size: 1rem;
}

/* Input and Button Wrapper */
.input-button-wrapper {
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Button Grid */
.button-grid {
    /* background-color: pink; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 70%;
    height: fit-content;
    text-align: center;
}

.button-grid button {
    color: white;
    background-color: black;
    width: 100%;
    min-height: max-content;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s ease;
}

.button-grid button:hover {
    background-color: #1F4068;
}


/* Textarea and Input */
textarea {
    margin-top: 20px;
    width: 70%;
    height: 100px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    text-align: center;
    background-color: black;
    transition: background-color 0.5s ease;
    color: white;
    min-height: 20px;
    max-width: 70%;
    min-width: 70%;
    min-height: 50px;
}

textarea:hover,
textarea:focus {
    background-color: #1F4068;
    outline: none;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    padding-left: 10px;
    text-align: center;
}
textarea::content{
    padding-top: 10px;
}

/* Go Button */
.go-button {
    margin-top: 20px;
    background-color: black;
    width: 40%;
    padding: 10px;
    min-height: 50px;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s ease;
    color: white;
}
/* Media Queries for Small Mobile Screens */
/* @media only screen and (max-width: 768px) {

    .button-grid button {
        font-size: 0.7rem;
    }

    .headline,
    h1 {
        font-size: 2rem;
    }

    p,
    textarea {
        font-size: 1.2rem;
    }

    .go-button {
        font-size: 1.5rem;
    }
} */