<section class="container">
    <div class="headline">
        <h1>ItineraryPro</h1>
        <p>Let's plan something great</p>
    </div>
    <div class="input-button-wrapper">
        <div class="button-grid">
            <!-- Event binding for buttons -->
            <button (click)="handleButtonClick('Which skyline would you like to see from your window?')">Which skyline
                would you like to see from your window?</button>
            <button (click)="handleButtonClick('If you could sail to any island, which one would it be?')">If you could
                sail to any island, which one would it be?</button>
            <button
                (click)="handleButtonClick('What\'s a landmark you\'ve only seen in pictures but want to visit?')">What's
                a landmark you've only seen in pictures but want to visit?</button>
            <button (click)="handleButtonClick('If you could join any historical expedition, what would it be?')">If you
                could join any historical expedition, what would it be?</button>
            <button (click)="handleButtonClick('What\'s the most exotic beach you wish you were lounging on?')">What's
                the most exotic beach you wish you were lounging on?</button>
            <button (click)="handleButtonClick('What\'s one place you\'d return to, just for the food?')">What's one
                place you'd return to, just for the food?</button>
        </div>
        <!-- Two-way data binding for textarea -->
        <textarea placeholder="Or let's get specific: Tell us every detail of your perfect trip here..."
            [(ngModel)]="textAreaContent"></textarea>

    </div>
    <!-- Event binding for the "go-button" -->
    <button class="go-button" (click)="handleTextArea(textAreaContent)">Let's Go!</button>
</section>