<section class="container">
    <div class="headline">
        <h1>ItineraryPro</h1>
        <p>Let's plan something amazing!</p>
    </div>
    <div class="input-button-wrapper">
        <div class="button-grid">
            <!-- Using *ngFor to loop through buttonTexts array -->
            <button *ngFor="let text of buttonTexts" (click)="handleButtonClick(text)">
                {{text}}
            </button>
        </div>
        <!-- Two-way data binding for textarea -->
        <textarea placeholder="Or let's get specific: Tell us every detail of your perfect trip here..."
            [(ngModel)]="textAreaContent"></textarea>
    </div>
    <!-- Event binding for the "go-button" -->
    <button class="go-button" (click)="handleTextArea(textAreaContent)">Let's Go!</button>
</section>