<!-- <div class="chat__messages" role="list">

    <div class="chat__message__assistant">
        <h1 class="chat__message-sender">Travel Guide</h1>
        <p class="chat__message-content">Great choice! What's a landmark you've only seen in pictures but want to visit?
        </p>
    </div>

    <div class="chat__message__user">
        <h1 class="chat__message-sender">You</h1>
        <p class="chat__message-content">I've always wanted to see the Eiffel Tower.
        </p>
    </div>

    <div class="chat__message__assistant">
        <h1 class="chat__message-sender">Travel Guide</h1>
        <p class="chat__message-content">The Eiffel Tower is a stunning landmark! How many days do you plan to spend in
            Paris?
        </p>
    </div>

    <div class="chat__message__user">
        <h1 class="chat__message-sender">You</h1>
        <p class="chat__message-content">Around 5 days.
        </p>
    </div>

    <div class="chat__message__assistant">
        <h1 class="chat__message-sender">Travel Guide</h1>
        <p class="chat__message-content">Excellent, 5 days gives you a good amount of time to explore Paris and its
            landmarks. Would you like recommendations for other must-see spots near the Eiffel Tower?
        </p>
    </div>

    <div class="chat__message__user">
        <h1 class="chat__message-sender">You</h1>
        <p class="chat__message-content">Yes, please.
        </p>
    </div>

    <div class="chat__message__assistant">
        <h1 class="chat__message-sender">Travel Guide</h1>
        <p class="chat__message-content">Great, I recommend visiting the following spots near the Eiffel Tower: <br><br>
            <b>Trocadéro Gardens - Perfect for photos of the Eiffel Tower.<br><br>Seine River Cruise - Enjoy a
                different
                perspective of the tower.<br><br>Champs de Mars - A beautiful park to relax in after your tower
                visit.</b><br><br>Would you like to include these in your itinerary?
        </p>
    </div>

</div> -->

<div class="chat__messages" role="list">
    <div *ngFor="let message of messages" [class.chat__message__assistant]="message.type === 'assistant'"
        [class.chat__message__user]="message.type === 'user'" role="listitem">
        <h1 class="chat__message-sender">{{message.author}}</h1>
        <p class="chat__message-content">{{message.content}}</p>
    </div>
</div>


<div class="chat__input">
    <input type="text" class="chat__input-field" placeholder="Type a message..." [(ngModel)]="newMessage">
    <button class="chat__input-button" (click)="sendMessage(newMessage)">Send</button>
</div>